version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: patitas_db_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: veterinaria_patitas_felices
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: